AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__CELERY__BROKER_URL=redis://redis:6379/0
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://YOUR_DB_USER:YOUR_DB_PASSWORD@postgres:5432/airflow_reddit
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://YOUR_DB_USER:YOUR_DB_PASSWORD@postgres:5432/airflow_reddit
AIRFLOW__CORE__FERNET_KEY=YOUR_FERNET_KEY
AIRFLOW__CORE__LOGGING_LEVEL=INFO
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=False
MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=YOUR_MINIO_ACCESS_KEY
MINIO_SECRET_KEY=YOUR_MINIO_SECRET_KEY
MINIO_BRONZE_BUCKET=bronze
MINIO_SILVER_BUCKET=silver
MINIO_GOLD_BUCKET=gold
MINIO_BRONZE_PREFIX=reddit
MINIO_SILVER_PREFIX=reddit
MINIO_GOLD_PREFIX=reddit
DBT_PROFILES_DIR=/opt/airflow/dbt
